body {
	background-image: url("JShine.jpg")

}
h1 {
  color: blue;
  text-align: center;
  
  
  
h2	{
	color: purple; 
	
	<style>
	table, td {
		border: 1px solid black
		
	}
	</style>